# dependencies
node_modules/

# env
.env
.env.*
!.env.example

# build output
dist/
build/
.next/
out/
web-build/
.expo/
expo-env.d.ts
*.tsbuildinfo

# native folders (Expo prebuild)
apps/mobile/ios/
apps/mobile/android/

# supabase local
supabase/.branches/
supabase/.temp/
supabase/.env

# OS / editor
.DS_Store
*.pem
.vscode/
.idea/
npm-debug.log*
yarn-error.log*
